/*******************************************************************
 ** Created by Nick Pettit for http://membership.thinkvitamin.com **
 ** Enjoy the code and share freely!                              **
 *******************************************************************/

/*********************
Page Styles
*********************/

body {
  margin: 0;
  background: #90ADB7 url('../images/background.png') repeat-x;
  font-family: verdana, sans-serif;
  font-size: 0.85em;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

p {
  line-height: 1.5em;
  color: #333;
}

a:hover {
  text-decoration: none;
}



/*********************
Navigation
*********************/

#nav {
  list-style: none;
  padding: 0;
  float: right;
  margin: 40px 0;
}

#nav li {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  font-weight: bold;
}

#nav li a:link, #nav li a:visited {
	text-decoration: none;
}

#nav li a:hover {
	font-size: 1.1em;
}




/*********************
Header
*********************/

#header {
  font-style: italic;
  float: left;
  margin: 20px 0;
}

#header h1 {
  font-size: 3em;
  margin: 0;
}

#header h2 {
  margin: 0;
  color: #888;
  font-size: 1.2em;
}


#top_div {

  width: 960px;
  height: auto;

}



/*********************
Content
*********************/

#content {
  float: right;
  width: 700px;
  margin-right: 20px;
}

#content .videos {
	float: left;
  background: #FFF;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #CCC;
  height: 500px;
}

#content .videos h3 {
  margin: 0;
  color: #333;
}

.pic {
  margin-left: 10px;
  float: right;
}


/*********************
Video Item
*********************/
.video_item {
  float: inherit;
	width: auto;
	height: auto;
	border: none;
	margin: 5px;
	padding: 10px;
}

span.video_name {
	
	font-size: 2em;
		
}

/*********************
Video Playback
*********************/
.video_playback {

	border: 2px solid #CCC;
}

#div_player {
	width: 600px;
	height: 400px;
}

/*********************
Sidebar
*********************/

#sidebar {
  float: left;
  width: 200px;
  height: 500px;
  background: #FFF;
  padding: 10px;
  border: 2px solid #CCC;
}

#sidebar h3 {
  margin: 0;
}

#sidebar .section {
  border-top: 2px dashed #CCC;
  padding-top: 10px;
}

#sidebar .section:first-child {
  border-top: none;
  padding: 0;
}






/**
 clearfix

**/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
