
 <div id="sidebar">
 	<div class="section">
    <h3>About this Site</h3>
    	<p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac rutrum magna. Maecenas ac orci ac justo dignissim fermentum. Nam sit amet sem ac est rutrum fermentum a ac est. Pellentesque non quam dui. Aliquam ligula eros, dictum eget suscipit non, gravida a ante.
      </p>
    </div>
 </div>


<div id="content">
		<div id="div_player">
		 <iframe width="800" height="520" src="http://www.youtube.com/embed/Is5IxBuKjps" frameborder="0" allowfullscreen></iframe>
		 </div>
 </div>       