
 <div id="sidebar">
 	<div class="section">
    <h3>About this Site</h3>
    	<p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac rutrum magna. Maecenas ac orci ac justo dignissim fermentum. Nam sit amet sem ac est rutrum fermentum a ac est. Pellentesque non quam dui. Aliquam ligula eros, dictum eget suscipit non, gravida a ante.
      </p>
    </div>
 </div>


<div id="content">
		<div class="videos">
			<div class="video_playback">
		     <h2><%@video.id%></h2>
		  <div>
	  </div>
 </div>       