  	<div class="video_item">
		   <div class="clearfix"><%= link_to image_tag("image_video_one.jpg"), "#" %></div>
		     <span class="video_name">Sure Target</span></a>
		</div>
		
		  	<div class="video_item">
		   <div class="clearfix"><%= link_to image_tag("image_video_two.jpg"), "#" %></div>
		     <span class="video_name">Glow</span></a>
		</div>


  	<div class="video_item">
		   <div class="clearfix"><%= link_to image_tag("image_video_three.jpg"), "#" %></div>
		     <span class="video_name">Urban</span></a>
		</div>


  	<div class="video_item">
		   <div class="clearfix"><%= link_to image_tag("image_video_four.jpg"), "#" %></div>
		     <span class="video_name">Darkroom</span></a>
		</div>

