<div id="contact_us" class="content_left">
  <img src="images/contact_us_image.jpg" />
</div>
<div class="content_right">
	<p>
		Filipo Scelfo >> <%= mail_to "filippo.scelfo@yahoo.it", "filippo.scelfo@yahoo.it"%>
	</p>
	<p>
		Fabio Vilela >> <%= mail_to "fbvilela@gmail.com", "fbvilela@gmail.com"%>
	</p>
</div>
