<div id="videos" class="video_list_content_left">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
        <param name="movie" value="images/video_list.swf" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="images/video_list.swf" width="338" height="464">
        <!--<![endif]-->
          <p>Alternative content</p>
        <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
</div>
<div class="video_list_content_right">
	<%= render :partial => "pages/samples"%>
</div>
