<div id="logo_div">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
        <param name="movie" value="images/logo.swf" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="images/logo.swf" width="900" height="147">
        <!--<![endif]-->
          <p>Alternative content</p>
        <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
</div>
