<!DOCTYPE html>
<html>
<head>
  <title>MotionWebsite</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
</head>
<body>
	 
	<div id="wrapper">
		<div id="background_div">
		 <div id="inner">				
			<div id="logo_div">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
        <param name="movie" value="images/logo.swf" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="images/logo.swf" width="900" height="147">
        <!--<![endif]-->
          <p>Alternative content</p>
        <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
    </div>
    <div id="menu" class="clearfix">
    	<ul id="nav">
    		<li>
    			<a href="about_us"><div class="menu_item">About us</div></a>
    		</li>
    		<li>
    			<a href="video_list"><div class="menu_item">Videos</div></a>
    		</li>
    		<li>
    			<a href="latest_work"><div class="menu_item">Latest work</div></a>
    		</li>
    		<li>
    			<a href="faq"><div class="menu_item">FAQ</div></a>
    		</li>
    		<li>
    			<a href="contact_us"><div class="menu_item">Contact us</div></a>
    		</li>
    	</ul>	
    </div>
    <%= yield %>
    </div>
	</div>
 </div>

</body>
</html>
