<!DOCTYPE html>
<html>
<head>
  <title>MotionWebsite</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
</head>
<body>
	 
	<div id="wrapper">
		<div id="top_div" class="clearfix">  
      <div id="header">
        <h1>Eleveno</h1>
        <h2>Your Video Resource</h2>
      </div>
      <ul id="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Samples</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">What we've done</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      </div>
		<%= yield %>
  </div>

</body>
</html>
